[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = http://github.com/bronson/vim-bufexplorer.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = http://github.com/edsono/vim-matchit.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = http://github.com/ervandew/supertab.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
